:root {
    --cards: 6;
    --cardHeight: 220px;
    --cardTopPadding: 1em;
    --cardMargin: 20px;
  }
  @media (max-width: 640px) {
    :root {
      --cards: 6;
      --cardHeight: 250px;
      --cardTopPadding: 1em;
      --cardMargin: 20px;
    }
  }
  

  
  #cards {
    position: sticky;
    top: 12%;
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards), var(--cardHeight));
    margin: auto;
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    margin-bottom: var(--cardMargin);
  }
  
  #card1 {
    --index: 1;
  }
  #card2 {
    --index: 2;
  }
  #card3 {
    --index: 3;
  }
  #card4 {
    --index: 4;
  }
  #card5 {
    --index: 5;
  }
  #card6 {
    --index: 6;
  }
  
  .card {
    position: sticky;
    top: 12%;
    padding-top: calc(var(--index) * var(--cardTopPadding));
  }
  
  /* #card1 .card-body {
    background-color: #52b2cf;
  }
  #card2 .card-body {
    background-color: #e5a36f;
  }
  #card3 .card-body {
    background-color: #9cadce;
  }
  #card4 .card-body {
    background-color: #d4afb9;
  } */
  
  .card-body {
    width: 550px;
    background-color: #f8ece4;
    border-radius: 10px;
    border: 2px solid #ba8a35;
    /* box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3); */
    height: var(--cardHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  
  h2 {
    font-size: 2.5em;
  }
  
  @media (max-width: 640px) {
    .card-body {
      width: 350px;
    }
  }
  